body {
    padding-top: 10px;
}

img{
    height: 30px;
    margin: 3px;
}
a{
    color:rgb(3, 192, 100);
}



/*card*/
.card{
    margin: 5px;
}
.card img{
    height: 100%;
    margin: 0px;
}

.row{
    margin-left: -30px;
}

/*navbar*/
.navbar{
    margin-left: 30px;
}
.navbar-brand img{
    height: 100px;
    margin-right: 10px;
}
.navbar-brand{
    font-size: 2.25rem;
    font-display: right;
}
#nav a{
    color:rgb(3, 192, 100);
}

#nav a:hover{
    color:#28a745;
}
/*carousel*/

.carousel img{
    width: 100%;
    height: auto;
}

.carousel{
    height: 100%;
    background-color: rgb(255, 255, 255);
  }

/**/
footer{
    margin: auto;
}
footer a{
    color: rgb(3, 192, 100);
}
/**/
.container{
    margin-bottom: 10px;
}