{% extends 'shop/base.html' %}

{% block title %}Order - Cake Store{% endblock %}

{% block content %}
<style>
    .body{
        background-color: aliceblue;
    }
    .register-container{
        margin-top: 50px;
    }
    .card{
        border-radius: 10px;
    }
</style>
<div class="container register-container">
    <div class="row justify-content-center">
        <div class="rol-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Order</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}